@media (min-width: 600px){

    .header{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .header__logo{
        width: 45%;
    }

    .header__namepage{

        left: 0;
    }



    .main_content{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        /* border: solid gray 0.3rem; */
    }

    .main_content__listknowme{
        order: 4;
    }
    
    .listknowme_box{
        width: 45%;
        margin: 4% 0;
    }

    .main_content__intro{
    height: 60vh;
     width: 55%;
     order: 2;
    }

    .container_natsdev{
        width: 45%;
        order: 1;
    }
    
    .main_content__overview{

        order: 5;
        margin: 4% 0;
    }

    .footer{
        flex-direction: column;
    }
}   