@media (min-width: 600px){

    .header{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .header__logo{
        width: 45%;
    }

    .header__namepage{

        left: 0;
    }



    .main_content{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        /* border: solid gray 0.3rem; */
    }

    .main_content__intro{
         width: 55%;
         order: 2;
        }

    .presentation__programing{
        order: 5;
        width: 40%;
        background-position: 40% 45%;
        }
    

    .main_content__listknowme{
        order: 3;
    }
    
    .listknowme_box{
        width: 45%;
        margin: 4% 0;
    }

    .main_content__overview{

        order: 4;
        margin: 4% 0;
        width: 55%;
    }

    .container_natsdev{
        width: 45%;
        order: 1;
    }
    
    .natsdev_image{
        height: 50vh;
    }

    
    
 

    .footer{
        flex-direction: column;
    }
}   